[
    {rabbit, [
        {default_user, <<"guest">>},
        {default_pass, <<"guest">>},
        {default_user_is_admin, false},
        {default_vhost, <<"/">>},
        {default_permissions, [<<"">>, <<"">>, <<".*">>]}
    ]},
    {rabbit_mochiweb, [
        {port, 55672}
    ]},
    {rabbit_management, [
        {http_log_dir, "/tmp/rabbit-mgmt"}
    ]},
    {rabbit_management_agent, [
        {force_fine_statistics, true}
    ]}
].

